<div class ="main-container blurwrap">
  <div class=" highlight" style="margin-left:0;">
    <h2>ExpEYES-17: Product Features</h2>
    <div class="row">
      <img src ="/assets/images/exp17.png" alt="ExpEYES-17"  data-toggle="modal" data-target="#myModal"> 
      <ul>
        <li>A tool for learning science by experimenting.</li>
        <li>50 documented experiments and easy to add more.</li>
        <li>4 channel Oscilloscope, 1Msps, +/-16V input range. </li>
        <li>Sine/Triangular Wave Generator, 5Hz to 5kHz</li>
        <li>Frequency Counter and time measurements.</li>
        <li>Supports I2C standard sensors</li>
        <li>Open Source Software in Python.</li>
      </ul>
    </div>
    <div class="row">
      <p>
        ExpEYES is from the PHOENIX project of Inter-University Accelerator Centre,New Delhi. It is a hardware & software framework for developing science experiments, demonstrations and projects without getting in to the details of electronics or computer programming. It converts your PC into a science laboratory.
      </p>
      <a href="http://expeyes.in/hardware.html" rel="noopener" target="_blank" role="button" class = "btn btn-primary">Buy Now</a>
      <button class = "btn btn-warning" >Read More</button>
    </div>
  </div>
</div>


{{!-- Modal --}}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
        <div class="alert downward-gradient">
          <h1>ExpEYES-17</h1>
        </div>
        <img src ="/assets/images/exp17.png" alt="ExpEYES-17"> 
        <hr>
      </div>
    </div>
  </div>
</div>
