<div class ="main-container blurwrap">
  <div class=" highlight" style="margin-left:0;">
    <strong>PyCode Browser: Chua circuit simulation</strong>
    <div class="row">
      <img src ="assets/images/lbc_chua_scr.png" alt="Chua Circuit simulation"  style="height:250px;width:auto;" data-toggle="modal" data-target="#myModal"> 
    </div>
  </div>
</div>


{{!-- Modal --}}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
        <div class="alert downward-gradient">
          <h1>Chua Simulation Example</h1>
        </div>
        <img src ="assets/images/lbc_chua.png" alt="chua circuit code"> 
        <hr>
      </div>
    </div>
  </div>
</div>
